.team {
	display: flex;
	flex-direction: column;
}

.team h1 {
	margin: 1.3em 0;
}
.team .avatar {
	flex-wrap: wrap;
	display: flex;
	justify-content: space-evenly;
	filter: drop-shadow(0.05em 0.1rem 25rem rgb(0, 0, 0));
}

.avatar img {
	text-align: center;
	background: #ffffff;
	border: 2px solid white;
	border-radius: 0px;
	background: #ffffff;
	box-shadow: 20px 20px 0px #023e8a, -20px -20px 0px #001c41;
}

@media only screen and (max-width: 1315px) {
	.avatar img {
		margin: 2em;
	}
}

.avatar .role {
	text-align: center;
	color: rgba(0, 0, 0, 0.479);
}

.avatar .role h3 {
	margin: 1em;
}

.role a {
	font-size: 1.5em;
	margin: 1em 1em;
	color: #023e8a;
}

/* purpose */

.purpose {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: -1em auto;
	text-align: left;
	font-size: 1.1em;
	width: 70%;
}

.purpose p {
	font-size: 1.5em;
	margin-top: 1em;
}
