/* UPLOAD SECTION */
.upload-section,
.display-section {
	height: 90vh;
	border-right: 2px solid rgba(0, 0, 0, 0.103);
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.upload-section {
	background: url("https://i.imgur.com/4n4JxXu.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.upload-section h2 {
	font-size: 3em;
	margin: 1em;
	color: black;
}

.steps {
	font-size: 2em;
	display: flex;
	color: white;
	filter: drop-shadow(1px 1px 4px #0606298e);
	justify-content: center;
	flex-direction: column;
	text-align: center;
	margin-right: 2em;
	list-style-type: none;
}

.number-order {
	color: #003b70;
}

.upload-section form {
	background: rgba(255, 255, 255, 0.904);
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	padding: 2em;
	font-size: 2em;
	margin: 2em auto;
	justify-content: center;
	text-align: center;
	border-radius: 50px;
	background: #ffffff;
	box-shadow: 20px 20px 0px #023d8a8e, -20px -20px 0px #042a5c00;
}

#customFile {
	width: 100%;
	text-align: center;
	margin-left: 6em;
	font-size: 0.6em;
}

@media only screen and (max-width: 800px) {
	#customFile {
		margin-left: 0;
	}
}

input[type="submit"] {
	background: #003b70;
	color: white;
	outline: none;
	border: none;
	cursor: pointer;
	font-size: 1em;
	padding: 0.3em 1em;
	margin: 1em;
	filter: drop-shadow(0 0.25rem 0.25rem rgb(0, 0, 0));
}

input[type="submit"]:hover {
	background: #01294d;
	color: white;
	transition: 0.2s ease-in;
}

label {
	margin: 0 1em;
	color: gray;
	font-size: 15px;
}

.message {
	font-size: 20px;
	text-align: center;
}

@media only screen and (max-width: 1094px) {
	.upload-section {
		width: 100%;
		text-align: center;
	}
	.display-section {
		width: 100%;
		text-align: center;
	}
}

@media only screen and (max-width: 600px) {
	.upload-section {
		font-size: 10px;
		text-align: center;
	}
}
